name: Binaries

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
    paths-ignore:
    - '**.md'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  linux:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
        - os: ubuntu-24.04
          target: linux-x64
        - os: ubuntu-24.04-arm
          target: linux-arm64

    steps:
    - uses: actions/checkout@v6

    - name: Extract tar
      run: |
        tar -xvzf ${{ matrix.target }}.tar.gz -C ./bin/

    - name: Prepare Qob (Unix)
      run: |
        chmod -R 777 .github/scripts/
        .github/scripts/setup-qob

    - name: Test
      run: qob --help

  macos:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
        - os: macos-15-intel
          target: macos-x64
        - os: macos-15
          target: macos-arm64

    steps:
    - uses: actions/checkout@v6

    - name: Extract tar
      run: |
        tar -xvzf ${{ matrix.target }}.tar.gz -C ./bin/

    - name: Prepare Qob (Unix)
      run: |
        chmod -R 777 .github/scripts/
        .github/scripts/setup-qob

    - name: Test
      run: qob --help

  windows:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
        - os: windows-latest
          target: win-x64
        - os: windows-11-arm
          target: win-arm64

    steps:
    - name: Install Zip
      uses: crazy-max/ghaction-chocolatey@v3
      with:
        args: install zip

    - uses: actions/checkout@v6

    - name: Extract zip
      run: |
        unzip ${{ matrix.target }}.zip -d ./bin/

    - name: Prepare Qob (Windows)
      run: .github/scripts/setup-qob.ps1

    - name: Test
      run: qob --help
